parameters:
    level: 10
includes:
    - ../../extension.neon

services:
    -
        class: Nish\PHPStan\Type\ExpressionTypeResolverExtension
        tags: [phpstan.broker.expressionTypeResolverExtension]
    -
        class: Nish\PHPStan\Rules\EchoHtmlRule
        tags: [phpstan.rules.rule]
    -
        factory: Nish\PHPStan\Type\SafeHtmlStringReturnTypeExtension(DateTimeInterface::format)
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
