services:
  # -
  #   class: Nish\PHPStan\Rules\EchoHtmlRule
  #   tags: [phpstan.rules.rule]

  -
    class: Nish\PHPStan\Type\ExpressionTypeResolverExtension
    tags: [phpstan.broker.expressionTypeResolverExtension]
  -
    class: Nish\PHPStan\PhpDoc\TypeNodeResolverExtension
    tags: [phpstan.phpDoc.typeNodeResolverExtension]
  -
    class: Nish\PHPStan\Type\Php\SprintfFunctionDynamicReturnTypeExtension
  -
    class: Nish\PHPStan\Type\Php\ReplaceFunctionsDynamicReturnTypeExtension
  -
    class: Nish\PHPStan\Type\Php\ImplodeFunctionDynamicReturnTypeExtension
  -
    class: Nish\PHPStan\Type\Php\TrimFunctionDynamicReturnTypeExtension
