services:
  -
    class: Nish\PHPStan\Rules\EchoHtmlRule
    tags: [phpstan.rules.rule]
  -
    class: Nish\PHPStan\PhpDoc\TypeNodeResolverExtension
    tags: [phpstan.phpDoc.typeNodeResolverExtension]
