parameters:
  level: max
  ignoreErrors:
    -
      identifier: phpstanApi.class
      path: src/Type/Accessory/*
    -
      identifier: phpstanApi.method
      path: src/Type/Accessory/*
    -
      identifier: phpstanApi.instanceofType
      path: src/Rules/RuleHelper.php
    -
      identifier: phpstanApi.method
      path: src/Type/ExpressionTypeResolverExtension.php
