parameters:
    level: 8
includes:
    - ../../extension.neon

services:
    -
        class: Nish\PHPStan\Rules\EchoHtmlRule
        tags: [phpstan.rules.rule]
    -
        factory: Nish\PHPStan\Type\SafeHtmlStringReturnTypeExtension(DateTimeInterface::format)
        tags: [nish.phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        factory: Nish\PHPStan\Type\SafeHtmlStringReturnTypeExtension([h, htmlspecialchars])
        tags: [nish.phpstan.broker.dynamicFunctionReturnTypeExtension]
